doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title Kamiocal
    link(href="./styles/style.css", rel="stylesheet") 
body(class="flex items-center justify-center min-h-screen bg-gray-100")
  div(class="text-center")
    h1 all files
    each file in data
     ul(class="mt-4 text-xl text-gray-700")=file.name

